---

- name: Install SSH
  apt: 
    pkg:
      - openssh-server
      - openssh-client
      - rsync
    state: latest

- name: Disable client Roaming function
  lineinfile:
    path: /etc/ssh/ssh_config
    regexp: '^UseRoaming'
    line: 'UseRoaming no'
    state: present

- name: Enable root access
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin yes'
    validate: /usr/sbin/sshd -t -f %s

- name: UseDNS no
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^UseDNS'
    line: 'UseDNS no'
    state: 'present'

- name: Set up multiple authorized keys
  ansible.posix.authorized_key:
    user: root
    state: present
    exclusive: no
    key: '{{ item }}'
  with_file:
    - mykey.pub
    - manager.pub

- name: Disable password authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication'
    line: 'PasswordAuthentication no'
    state: present
  when: sshkeysonly is not defined or sshkeysonly | bool

- name: Disable ssh.service
  systemd:
    name: ssh.service
    state: stopped
    enabled: no

- name: Enable ssh.socket
  systemd:
    name: ssh.socket
    state: started
    enabled: yes
    